body {
  width: 100%;
  margin: 0;
  background-color: lightgray;
  font-family: "Kanit", sans-serif;
}

.calendar-base {
  width: 100%;
  max-width: 900px;
  height: 500px;
  border-radius: 20px;
  background-color: white;
  color: black;
  margin: 0 auto; /* Centrar horizontalmente */
  overflow: hidden; /* Evitar la barra de desplazamiento horizontal */
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 25px;
}

.year {
  color: #e8e8e8;
  font-size: 30px;
  float: right;
  position: relative;
  right: 75px;
  top: 20px;
  font-weight: bold;
}

.months {
  color: #aaaaaa;
  position: relative;
  font-size: 25px;
  left: 770px;
  top: 90px;
  word-spacing: 10px;
}

.month-line {
  border-color: #e8e8e8;
  position: relative;
  top: 85px;
  width: 57%;
  left: 178px;
}

.days {
  color: #aaaaaa;
  position: relative;
  font-size: 18px;
  left: 355px;
  top: 80px;
  word-spacing: 53px;
  font-weight: 600;
}

.num-dates {
  float: right;
  position: relative;
  top: 110px;
  right: 55px;
  z-index: 1;
}

.first-week {
  margin-bottom: 25px;
  word-spacing: 55px;
}

.second-week {
  margin-bottom: 25px;
  word-spacing: 52px;
}

.third-week {
  margin-bottom: 25px;
  word-spacing: 59px;
}

.fourth-week {
  margin-bottom: 25px;
  word-spacing: 57px;
}

.fifth-week {
  margin-bottom: 25px;
  word-spacing: 55px;
}

.color a {
  text-decoration: none;
  color: inherit;
}

.color {
  color: red;
  font-weight: bold;
  text-decoration: none;
}
.white {
  color: white;
}

.two {
  position: relative;
  top: 168px;
  left: 535px;
}

.grey {
  color: #aaaab1;
}

.calendar-left {
  width: 300px;
  height: 500px;
  border-radius: 20px 0px 0px 20px;
  background-color: #ff1649;
  position: relative;
  /*z-index: -1;*/
  color: white;
  bottom: 500px;
}

.num-date {
  font-size: 150px;
  width: 50%;
  margin: 0 auto;
  font-weight: 700;
}

.day {
  width: 38%;
  margin: 0px auto;
  font-size: 30px;
  position: relative;
  bottom: 60px;
}

.current-events {
  font-size: 15px;
  position: relative;
  margin-left: 25px;
  bottom: 60px;
}

.posts {
  text-decoration: underline dotted;
}
.posts:hover {
  color: #ff1649 !important;
}

.event-line {
  width: 90%;
}

.all-events {
  position: absolute;
  left: 15%;
  margin-top: -450px;
}
.grande {
  font-size: 20px;
  font-weight: bold;
}
